@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0496ff;
}

body .han {
  background: #2D93AD;
}

body .peace {
  background: #0496ff;
}

body .blanco {
  background: #f2f2f2;
}

body .t-blanco {
  color: #ffffff;
}

body .azul {
  background: #3C91E6;
}

body .azul-light {
  background: #034078;
}

body .gris {
  background: #252525;
}

header .navbar {
  display: none;
}

header .menu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 40px 9;
}

header .menu .logotiposkew {
  position: absolute;
  left: -700px;
}

header .menu .skew {
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
  width: 420px;
  height: 150px;
  position: absolute;
  z-index: 15;
  background: #000;
  top: 0;
  left: -35px;
  -webkit-box-shadow: 16px -19px 96px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 16px -19px 96px -4px rgba(0, 0, 0, 0.75);
  background: #3C91E6;
}

header .menu .logo img {
  position: absolute;
  margin-top: 15px;
  margin-left: 25px;
  z-index: 17;
  width: 300px;
}

header .menu .nav_menu {
  position: absolute;
  z-index: 10;
  right: -2000px;
  background: #fff;
  color: #000;
  width: 100%;
  height: 10px;
  margin-top: 20px;
}

header .menu .nav_menu .nav_items {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style: none;
  padding-right: 20px;
}

header .menu .nav_menu .nav_items .nav_item {
  margin-top: 5px;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 5px solid #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

header .menu .nav_menu .nav_items .nav_item a {
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #000;
  font-weight: 300;
}

header .menu .nav_menu .nav_items .nav_item a:hover {
  color: #3C91E6;
}

header .menu .nav_menu .nav_items .nav_item:hover {
  border-bottom: 5px solid #3C91E6;
  color: #3C91E6;
}

header .style-header {
  margin: 0;
  padding: 0;
  background-image: url("../images/portada.jpg");
  height: 120vh;
  background-attachment: fixed;
  background-position: 0 center;
  position: relative;
}

header .style-header .contenedor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .style-header .contenedor .titulo-header {
  font-family: 'Bebas Neue';
  margin-top: 20px;
  opacity: 0;
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  padding: 0;
}

header .style-header .contenedor .subtitulo-header {
  color: #fff;
  font-weight: 100;
  font-size: 25px;
}

header .style-header .contenedor .icono {
  margin-top: 20px;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-main .container-item {
  width: 100%;
}

.container-main .container-item .main-item {
  margin: 20px auto 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-main .container-item .main-item .ortodoncia {
  text-align: center;
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-main .container-item .main-item .invisaling {
  text-align: center;
  width: 500px;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-main .container-item .main-item .tittle-item-special {
  font-size: 195px;
  width: 250px;
  line-height: 200px;
  word-wrap: break-word;
  text-align: center;
}

.container-main .container-item .main-item .tittle-item-special-blank {
  width: 300px;
  font-size: 192px;
}

.container-main .container-item .main-item .title-item, .container-main .container-item .main-item .subtitle-item, .container-main .container-item .main-item .text-t-item {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Bebas Neue';
}

.container-main .container-item .main-item .tittle-item-special2 {
  font-size: 40px;
}

.container-main .container-item .main-item .subtitle-item {
  font-size: 25px;
}

.container-main .container-item .main-item .text-t-item {
  font-size: 20px;
}

.container-main .container-item .main-item .text-item {
  text-align: justify;
}

.container-main .container-item .main-item .boton {
  margin: 20px;
}

.container-main .container-item .main-item .imagen-aux {
  margin: 20px;
}

.container-main .container-item .main-item .imagen-aux img {
  width: 450px;
}

.container-main .container-item .main-item .nav-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  margin: 0 auto 10px;
}

.container-main .container-item .main-item .nav-blank .nav-blank-item {
  margin: 10px;
  list-style: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 300;
  border-radius: 8px;
}

.container-main .container-item .main-item .item-text {
  font-size: 19px;
}

.container-main .container-item .main-item .contenedor-comb {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  padding-bottom: 20px;
}

.container-main .container-item .main-item .contenedor-comb img {
  width: 250px;
  margin: auto;
}

.container-main .container-item .main-item .contenedor-comb .list-items {
  margin-top: 45px;
  line-height: 30px;
  list-style: none;
  text-align: left;
  font-weight: 500;
  font-size: 23px;
}

.container-covid {
  background: url("../images/covid-19.jpg");
  height: 110vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.container-covid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.container-covid .covid-content {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  width: 90%;
}

.container-covid .covid-content .covid-tittle {
  padding: 135px 0 0 0;
  color: #fff;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 60px;
}

.container-covid .covid-content .covid-text {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.container-covid .covid-content .covid-text-s {
  margin-top: 50px;
}

.container-covid .covid-content .covid-text-s .image-aux img {
  width: 250px;
}

.container-covid .covid-content .covid-text-s ul {
  padding-top: 40px;
  list-style: none;
  font-weight: 400;
  text-align: justify;
  line-height: 40px;
}

.nosotros {
  background: url("../images/dark.png");
}

.about-us {
  color: #fff;
  margin: 0 auto;
}

.about-us .about-tittle {
  padding-top: 40px;
  font-family: 'Bebas Neue';
  font-size: 80px;
  text-align: center;
}

.about-us .about-text {
  text-align: center;
  font-size: 19px;
}

.video-about-us {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-about-us .esp-font {
  background: #0072BB;
  color: #fff;
}

.content-about-us .esp-font:hover {
  background: #f2f2f2;
  color: #000;
}

.content-about-us .esp-font2 {
  background: #f2f2f2;
  color: #000;
}

.content-about-us .esp-font2:hover {
  background: #0072BB;
  color: #fff;
}

.content-about-us .card {
  -webkit-transition: .5s;
  transition: .5s;
  max-width: 250px;
  min-width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-about-us .card .esp {
  margin-top: 32px;
}

.content-about-us .card .card-body {
  max-height: 300px;
  min-height: 300px;
}

.content-about-us .card .card-info {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container-map {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  margin-top: 40px;
  min-height: 500px;
  max-height: 500px;
}

.mapa {
  width: 50%;
  background: #034078;
  border-radius: 10px;
  padding: 20px;
}

.mapa .title-item {
  color: #fff;
  text-align: center;
  font-family: 'Bebas Neue';
}

.mapa iframe {
  margin-top: 20px;
  height: 300px;
  width: 100%;
}

.pie {
  width: 50%;
  margin-top: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie .image-aux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pie .image-aux img {
  width: 50px;
  margin: 0;
  padding: 0;
}

.pie .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000;
  margin: 0;
}

.pie .footer-text .text-item {
  margin: 0 auto;
  width: 80%;
  color: #fff;
}

.facebook {
  background: #1877f2;
}

.whatsapp {
  background: #4aae20;
}

.instagram {
  background: #c13584;
}

.redes-sociales {
  position: fixed;
  bottom: 200px;
  left: -100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.redes-sociales a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

.redes-sociales a:hover {
  color: #fff;
}

.charlemos {
  position: fixed;
  bottom: 20px;
  right: -50px;
}

.charlemos a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 30px;
  border-radius: 30px;
}

.charlemos a:hover {
  color: #fff;
}

#carrousel-tarjetas {
  position: relative;
}

#carrousel-tarjetas .container-carro {
  max-width: 80%;
  min-width: 80%;
}

#carrousel-tarjetas .card {
  -webkit-transition: .6s;
  transition: .6s;
  margin: 5px 10px;
  min-height: 300px;
  max-height: 300px;
}

#carrousel-tarjetas .card:hover {
  background: #000;
}

#carrousel-tarjetas .card .icono {
  font-size: 30px;
  padding-top: 5px;
}

#carrousel-tarjetas .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cliente .container-main {
  height: 110vh;
  background: url("../images/cliente-f.jpg");
  background-position: center;
  position: relative;
  z-index: 3;
}

#cliente .container-main::after {
  z-index: 4;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#cliente .container-main .main-item {
  position: relative;
  z-index: 5;
  margin-top: 200px;
}

#cliente .container-main .main-item h2 {
  font-family: 'Bebas Neue';
  font-size: 80px;
}

.carrousel-tarjetas-resp {
  display: none;
}

.carrousel-tarjeta {
  display: block;
}

.offcanvas-header {
  background-color: #0496ff;
  border: 0;
}

.offcanvas-body {
  border: 0;
  background-color: #0496ff;
}

.offcanvas-body .nav-item .nav-link {
  font-size: 30px;
  color: #ffffff;
}

@media only screen and (max-width: 650px) {
  header .navbar {
    display: block;
  }
  header .menu {
    display: none;
  }
  header .style-header {
    background-position: center;
  }
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-main .container-item {
    width: 100%;
  }
  .container-main .container-item .main-item {
    margin: 20px auto 0;
    padding-bottom: 40px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-main .container-item .main-item .ortodoncia {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container-main .container-item .main-item .invisaling {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container-main .container-item .main-item .tittle-item-special {
    font-size: 195px;
    width: 250px;
    line-height: 200px;
    word-wrap: break-word;
    text-align: center;
  }
  .container-main .container-item .main-item .tittle-item-special-blank {
    width: 300px;
    font-size: 192px;
  }
  .container-main .container-item .main-item .title-item, .container-main .container-item .main-item .subtitle-item, .container-main .container-item .main-item .text-t-item {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    font-family: 'Bebas Neue';
  }
  .container-main .container-item .main-item .tittle-item-special2 {
    font-size: 40px;
  }
  .container-main .container-item .main-item .subtitle-item {
    font-size: 25px;
  }
  .container-main .container-item .main-item .text-t-item {
    font-size: 20px;
  }
  .container-main .container-item .main-item .text-item {
    text-align: justify;
  }
  .container-main .container-item .main-item .boton {
    margin-top: 20px;
  }
  .container-main .container-item .main-item .imagen-aux {
    margin: 0;
  }
  .container-main .container-item .main-item .imagen-aux img {
    width: 300px;
  }
  .container-main .container-item .main-item .nav-blank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .container-main .container-item .main-item .nav-blank .nav-blank-item {
    margin: 10px;
    text-align: center;
    list-style: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 300;
    border-radius: 8px;
  }
  .container-main .container-item .main-item .item-text {
    font-size: 19px;
  }
  #cliente .container-main {
    height: 100%;
  }
  #cliente .container-main .main-item {
    position: relative;
    z-index: 5;
    margin-top: 80px;
  }
  #cliente .container-main .main-item .t-blanco h2 {
    font-family: 'Bebas Neue';
    font-size: 50px;
  }
  #cliente .container-main .main-item .t-blanco .item-text {
    font-size: 15px;
  }
  #cliente .container-main .main-item .t-blanco .contenedor-comb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #cliente .container-main .main-item .t-blanco .contenedor-comb .list-items {
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #cliente .container-main .main-item .t-blanco .contenedor-comb .list-items i {
    text-align: center;
  }
  #cliente .container-main .main-item .t-blanco .contenedor-comb img {
    width: 200px;
  }
  .container-covid {
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  .container-covid .covid-content {
    height: 100%;
  }
  .container-covid .covid-content .covid-tittle {
    padding-top: 30px;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 50px;
  }
  .container-covid .covid-text {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 500;
  }
  .container-covid .covid-text-s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .container-covid .covid-text-s .image-aux img {
    width: 250px;
  }
  .container-covid .covid-text-s ul {
    padding: 0;
    list-style: none;
    font-weight: 400;
    text-align: justify;
    line-height: 40px;
  }
  .container-covid .covid-text-s ul li {
    text-align: center;
  }
  .container-covid .covid-text-s ul li .d-logo {
    display: block;
  }
  .about-us {
    color: #fff;
    margin: 0 auto;
  }
  .about-us .about-tittle {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-align: center;
  }
  .about-us .about-text {
    text-align: center;
    font-size: 19px;
  }
  .video-about-us {
    margin: 60px auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-about-us video {
    width: 90%;
  }
  .content-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-about-us .esp-font {
    background: #0072BB;
    color: #fff;
  }
  .content-about-us .esp-font:hover {
    background: #f2f2f2;
    color: #000;
  }
  .content-about-us .esp-font2 {
    background: #f2f2f2;
    color: #000;
  }
  .content-about-us .esp-font2:hover {
    background: #0072BB;
    color: #fff;
  }
  .content-about-us .card {
    -webkit-transition: .5s;
    transition: .5s;
    max-width: 80%;
    min-width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-about-us .card .esp {
    margin-top: 32px;
  }
  .content-about-us .card .card-body {
    max-height: 300px;
    min-height: 300px;
  }
  .content-about-us .card .card-info {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .carrousel-tarjetas-resp {
    display: block;
  }
  .carrousel-tarjeta {
    display: none;
  }
  .container-map {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    min-height: 720px;
    max-height: 720px;
  }
  .mapa {
    width: 100%;
    background: #034078;
    border-radius: 10px;
    padding: 20px;
  }
  .mapa .title-item {
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue';
  }
  .mapa iframe {
    margin-top: 20px;
    height: 300px;
    width: 100%;
  }
  .pie {
    width: 100%;
    margin-top: 30px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pie .image-aux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pie .image-aux img {
    width: 50px;
    margin: 0;
    padding: 0;
  }
  .pie .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #000;
    margin: 0;
  }
  .pie .footer-text .text-item {
    margin: 0 auto;
    width: 80%;
    color: #fff;
  }
}
/*# sourceMappingURL=estlios.css.map */