@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300&display=swap')
body
    font-family: 'Roboto', sans-serif;
header
    background: #000
    .menu
        margin: 0
        background-color: #0abcf9;
        background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
        display: flex
        justify-content: space-between
        align-content: center
        padding: 0 40px
        .logo
            margin-top: 13px
            img
                width: 110px
        .nav_menu
            color: #fff
            .nav_items
                display: flex
                list-style: none
                .nav_item
                    margin-top: 5px
                    padding: 10px
                    font-size: 20px
                    font-weight: 500
                    a
                        text-decoration: none
                        color: #fff
                        transition: color 0.2s
                        &:hover
                            color: #fca311
                            
    .style-header
        margin: 0
        padding: 0
        background-image: url('../images/header-image.jpg')
        height: 100vh
        background-attachment: fixed
        background-position: cover
        position: relative
        .contenedor
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: rgba(0,0,0,0.6)
            display: flex
            justify-content: center
            flex-direction: column
            text-align: center
            .titulo-header
                color: #fff
                font-weight: 300
                font-size: 40px
                padding: 0
            .subtitulo-header
                color: #fff
                font-weight: 100
                font-size: 25px
            .icono
                margin-top: 20px  
// Ortodoncia
.verde
    background: #b8daba
.blanco
    background: #f2f2f2
.container-main
    display: flex
    flex-wrap: wrap
    justify-content: center
    .container-item
        width: 100%
        .main-item
            margin: 0 auto
            width: 80%
            display: flex
            margin-top: 30px
            .title-item
                margin: 0
                padding: 10px 0
                text-align: center
                color: #000
                font-family: 'Nunito', sans-serif
            .text-item
                text-align: justify
                padding: 20px
            .boton
                margin: 20px
            .imagen-aux
                margin: 20px
                img
                    width: 450px
//Redes Sociales
.redes-sociales
    position: fixed
    bottom: 200px
    left: -155px
    transform: rotate(90deg)
    a
        text-decoration: none
        color: #fff
        padding: 5px 10px
        &:hover
            color: #fff
    .facebook
        background: #1877f2
    .whatsapp
        background: #4aae20
    .instagram
        background: #c13584






